html, body {
  margin: 0;
  font-family: "Roboto", "Arial", serif;
}

.navbar {
  width: 10vw;
  height: 100vh;
}

.login-container {
  height:100vh;
  display:flex;
}

.username-navbar {
  font-weight: bold;
  margin-right: 1rem;
}
