html, body {
  margin: 0;
  font-family: "Roboto", "Arial", serif;
}

.navbar {
  width: 10vw;
  height: 100vh;
}

.login-container {
  height:100vh;
  display:flex;
}

body.active-dialog {
  overflow-y: hidden;
}

.btn-dialog {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.dialog, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 99999;
}

.overlay {
  background: rgba(49,49,49,0.8);
}
.dialog-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  cursor: pointer;
}
